/* Desktop */
@media (min-width: 1024px) {
    .desktop-scroll-wrapper {
        overflow-x: auto;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(10, 220px);
        /* adjust according to total products */
        gap: 24px;
        width: max-content;
    }

    /* Hide button on desktop */
    .show-more-wrap {
        display: none;
    }
}

/* Mobile */
@media (max-width: 1023px) {

    /* Show only first 4 products */
    .product-grid>li:nth-child(n + 5) {
        display: none;
    }

    /* After clicking Show More */
    .product-grid.open>li {
        display: list-item;
    }

    /* Show button only on mobile */
    .show-more-wrap {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}